@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>ViewData["Title"]</h1>

<p class="col text-center">Use this page to detail your site's privacy policy.</p>
<p class="col text-center">This is my privacy page</p>